::-webkit-scrollbar {
    display: none!important;
}

nav,
.aui-header {
    -webkit-app-region: drag;
}

#footer, footer {
    display: none;
}

.aui-header-before {
    display: none;
}

.aui-header .aui-header-secondary .aui-nav .jira-feedback-plugin{
	display: none !important;
}

.aui-header .aui-dropdown2-trigger:not(.aui-dropdown2-trigger-arrowless):after {
	display:  none;
}